body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input {
  width: 85%;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  text-align: left;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.correct { color: #22c55e; }
.wrong { color: #ef4444; }
